<!DOCTYPE html>
<html>
  <body>
    <div>
      {% if page.object_list %}
        <ul>
        {% for question in page.object_list %}
          <li><a href="/question/{{ question.id }}/">{{ question.title }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>Вопросов больше нет.</p>
      {% endif %}
    </div>
    <nav>
      <ul class="pagination">
        {% for p in paginator.page_range %}
          {% if p == page.number %}
            <li class="active">
          {% else %}
            <li>
          {% endif %}
          <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </body>
</html>
